/*Universal Selector*/
/*နေရာတိုင်းကိုpointerအသက်ဝင်စေခြင်း*/

/**{
	cursor: pointer;
}*/

.firstdiv{
	width: 200px;
	height: 200px;
	/*background-color: yellow;*/
	/*background-color: #fcba03;*/
	background-color: rgba(21,30,127,1.00);

    /*layer transparent value 0,1*/
    /*opacity: 0.5;*/
	opacity: 1;

	cursor: pointer;



	color: red;
	font-size: 30px;
}

.seconddiv{
	width: 200px;
	height: 200px;
	/*background-color: green;*/
	font-size: 20px;
	/*color:white;*/
	/*border: 3px solid red;*/

	border: 3px;
	border-style: solid;
	border-color: blue;

	background-image: url('../img/bg1.jpg');
	background-repeat: no-repeat;
	/*background-repeat: repeat;*/
	/*background-repeat: repeat-x;*/
	/*background-repeat: repeat-y;*/
	background-position: center;


}

.divthree{
	width: 300px;
	height: 300px;
    /*background-color: green;*/
    color: white;
    font-size: 30px;
     /*နှစ်ရောင်စပ်ပုံစံပြုလုပ်ခြင်း*/
    /*background: linear-gradient(blue,orange,red,yellow);*/
    /*background-image: linear-gradient(blue,orange,red,yellow);*/
    /*background: linear-gradient(#a84632,#1c1cc7,#d5db16);*/

    /*background: radial-gradient(blue,orange,red);*/

   /* background: linear-gradient(
    	45deg,
    	blue,
    	orange
        );*/
      /*နှစ်ရောင်စပ်ပုံစံအမျိုးမျိုးထားခြင်း*/
      background: linear-gradient(
      	45deg,
      	red 40%,
      	blue 10%

      	);


}

/*name(parameters); => Function*/

.divfour{
	width: 300px;
	height: 300px;
	background-image:linear-gradient(rgba(30,21,127,0),rgba(234,19,127,0.2)), url('../img/bg2.jpg');
	background-repeat: no-repeat;
}

